@import "../../../assets/styles/common";

.PovTable{
    height: 100%;
    &Main {
      &Pod {
        @include borderRadius0;
        height: 100%;

      }
    }
    &Pod {
      &0 {
        max-width: 100%;
        height: 100%;


      }
    }
  }



