@import "../../assets/styles/common";
@import "../../assets/styles/media_queries";

.SiteUnavailable{
    color:$white;

    &Main {
      &Pod {
        height: 100vh;
        width: 100vw;
        background-color: $black;
        @include FlexColumnCenter;

      }
    }
    @for $i from 0 through 1 {
      &#{$i} {
        max-width: $pageMaxWidth;
      }
    }
    &Pod {
      &0 {
        *{
          text-align: center;
        }
        width: 100%;
        height: 100%;
        display: flex;
        @include FlexColumnCenter;
        justify-content: center;


      }
    }
  }



