@mixin pageLayout0{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin FlexColumnCenter{
  @include pageLayout0()
}

@mixin MainPodCssRule0 {
  @include pageLayout0;
  padding:1.5rem;
   & > *{
    width: 100%;
    max-width: $pageMaxWidth;
  }
}
@mixin MainPodCssRule1 {
  display: flex;
  max-width: $pageMaxWidth;
  margin: auto;
  justify-content: space-evenly;
  padding: $spacing10 0 0 0;
}
