@import "../../../assets/styles/common";

.Notify{
    position: fixed;
    height: 0px;
    inset:0;
    &Main {
      &Pod {
        @include borderRadius0;
        height: 100%;

      }
    }
    &Pod {
      &0 {
        max-width: 100%;
        height: 100%;


      }
    }
  }



