@import "../../../assets/styles/media_queries";
@import "../../../assets/styles/spacing";

@media #{$tablet} {
  .upload-container-wrapper {
    .input-fields {
      width: 80%;
    }
    .header-section {
      .header {
        font-size: 30px;
      }
    }
  }
  .upload-modal-container {
    height: 60%;
  }
}
